.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__nZ0W {
  width: 100%;
  height: auto;
  max-width: var(--token-wDHx71aqKDlQ);
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__nZ0W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__nZ0W > :global(.__wab_flex-container) > *,
.freeBox__nZ0W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nZ0W > :global(.__wab_flex-container) > picture > img,
.freeBox__nZ0W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nZ0W {
    width: 100%;
    height: auto;
    max-width: var(--token-wDHx71aqKDlQ);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nZ0W > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nZ0W > :global(.__wab_flex-container) > *,
  .freeBox__nZ0W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nZ0W > :global(.__wab_flex-container) > picture > img,
  .freeBox__nZ0W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__g9Vqq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__g9Vqq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__g9Vqq > :global(.__wab_flex-container) > *,
.freeBox__g9Vqq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g9Vqq > :global(.__wab_flex-container) > picture > img,
.freeBox__g9Vqq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g9Vqq {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g9Vqq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g9Vqq > :global(.__wab_flex-container) > *,
  .freeBox__g9Vqq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__g9Vqq > :global(.__wab_flex-container) > picture > img,
  .freeBox__g9Vqq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__lnKxt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__uxLq1 {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uxLq1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text___42GlN {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___42GlN {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___4BXy {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4BXy {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__dPuan {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__dPuan > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__dPuan > :global(.__wab_flex-container) > *,
.freeBox__dPuan > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dPuan > :global(.__wab_flex-container) > picture > img,
.freeBox__dPuan
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__rJsCw:global(.__wab_instance) {
  position: relative;
}
.svg__ebUm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eZq0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__t4ZU:global(.__wab_instance) {
  position: relative;
}
.svg__ozm4R {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__er6PQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___8Qqa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__oqKij {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__oqKij > picture > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sHWr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sHWr {
    width: 100%;
  }
}
.freeBox___75UzH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___75UzH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___75UzH > :global(.__wab_flex-container) > *,
.freeBox___75UzH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___75UzH > :global(.__wab_flex-container) > picture > img,
.freeBox___75UzH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75UzH {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75UzH > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__grAg3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__qhhQl {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__wxqZ9:global(.__wab_instance) {
  position: relative;
}
.svg__vFVzt {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__kooLq {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__laH3T:global(.__wab_instance) {
  position: relative;
}
.svg__xIf5O {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__uzZhH {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__gUZ9:global(.__wab_instance) {
  position: relative;
}
.svg__xsawc {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__r3SdN {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__nsjlx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nsjlx {
    width: 100%;
  }
}
.img__zUjG {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__zUjG > picture > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__dmQj7 {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__dmQj7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dmQj7 > :global(.__wab_flex-container) > *,
.freeBox__dmQj7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dmQj7 > :global(.__wab_flex-container) > picture > img,
.freeBox__dmQj7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__jyys9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lKf8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--HX1YE5iW2aN);
}
.svg__voWBv {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qLxqy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2RPvf {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--HX1YE5iW2aN);
}
.svg__bnuFb {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__p2Fgg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ilpb {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--HX1YE5iW2aN);
}
.svg__cXafz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ayb78:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ku5Qq {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--HX1YE5iW2aN);
}
.svg__hkjLq {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___758Ih:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qkRw5 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--HX1YE5iW2aN);
}
.svg__csmfM {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__jWxnq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___29NA {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--HX1YE5iW2aN);
}
.svg__kvGa {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__dxmZa {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-u12sMZwIlDsg);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__zP2Uo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zP2Uo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__zP2Uo > :global(.__wab_flex-container) > *,
.freeBox__zP2Uo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zP2Uo > :global(.__wab_flex-container) > picture > img,
.freeBox__zP2Uo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__bO8G {
  display: flex;
  flex-direction: row;
}
.freeBox__bO8G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__bO8G > :global(.__wab_flex-container) > *,
.freeBox__bO8G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bO8G > :global(.__wab_flex-container) > picture > img,
.freeBox__bO8G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg___9IEIn {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___6UdpT {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__aqx8I {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__cSk78 {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__rTpMs {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
