.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__siHe {
  width: 100%;
  height: auto;
  max-width: var(--token-wDHx71aqKDlQ);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__siHe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__siHe > :global(.__wab_flex-container) > *,
.freeBox__siHe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__siHe > :global(.__wab_flex-container) > picture > img,
.freeBox__siHe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__ltUO {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__ltUO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__ltUO > :global(.__wab_flex-container) > *,
.columns__ltUO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ltUO > :global(.__wab_flex-container) > picture > img,
.columns__ltUO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__ltUO {
  --plsmc-rc-col-gap: 0px;
}
.columns__ltUO > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ltUO > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ltUO {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ltUO > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ltUO > :global(.__wab_flex-container) > *,
  .columns__ltUO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ltUO > :global(.__wab_flex-container) > picture > img,
  .columns__ltUO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ltUO > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5BG8I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5BG8I {
    width: 100%;
  }
}
.freeBox__gxAQk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gxAQk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gxAQk > :global(.__wab_flex-container) > *,
.freeBox__gxAQk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gxAQk > :global(.__wab_flex-container) > picture > img,
.freeBox__gxAQk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gxAQk {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gxAQk > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__iceno {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__sFnnm {
  position: relative;
  text-align: left;
}
.bullet__bonTs:global(.__wab_instance) {
  position: relative;
}
.bullet__bax7L:global(.__wab_instance) {
  position: relative;
}
.bullet__wS5Zj:global(.__wab_instance) {
  position: relative;
}
.text___1FoNl {
  position: relative;
  text-align: left;
}
.freeBox__sq9Ev {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__sq9Ev > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__sq9Ev > :global(.__wab_flex-container) > *,
.freeBox__sq9Ev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sq9Ev > :global(.__wab_flex-container) > picture > img,
.freeBox__sq9Ev
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sq9Ev {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sq9Ev > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sq9Ev > :global(.__wab_flex-container) > *,
  .freeBox__sq9Ev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sq9Ev > :global(.__wab_flex-container) > picture > img,
  .freeBox__sq9Ev
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___1MZi9:global(.__wab_instance) {
  position: relative;
}
.svg__o5YfM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__c3YI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oq0D:global(.__wab_instance) {
  position: relative;
}
.svg___9Wp8N {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qxT3J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__wbdD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wbdD {
    width: 100%;
  }
}
.img__lm7H3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__lm7H3 > picture > img {
  object-fit: cover;
}
.columns___4D7K9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___4D7K9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns___4D7K9 > :global(.__wab_flex-container) > *,
.columns___4D7K9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___4D7K9 > :global(.__wab_flex-container) > picture > img,
.columns___4D7K9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns___4D7K9 {
  --plsmc-rc-col-gap: 0px;
}
.columns___4D7K9 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___4D7K9 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4D7K9 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4D7K9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4D7K9 > :global(.__wab_flex-container) > *,
  .columns___4D7K9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___4D7K9 > :global(.__wab_flex-container) > picture > img,
  .columns___4D7K9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4D7K9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__u4IqE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__u4IqE {
    width: 100%;
  }
}
.img__biluy {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__biluy > picture > img {
  object-fit: cover;
}
.column__doyrM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__doyrM {
    width: 100%;
  }
}
.freeBox__ituAr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ituAr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ituAr > :global(.__wab_flex-container) > *,
.freeBox__ituAr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ituAr > :global(.__wab_flex-container) > picture > img,
.freeBox__ituAr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ituAr {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ituAr > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__x5696 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__gtgS3 {
  position: relative;
  text-align: left;
}
.bullet__yYaNb:global(.__wab_instance) {
  position: relative;
}
.bullet__ajGb6:global(.__wab_instance) {
  position: relative;
}
.bullet___7LSvt:global(.__wab_instance) {
  position: relative;
}
.text__dq8D2 {
  position: relative;
  text-align: left;
}
.freeBox__algow {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__algow > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__algow > :global(.__wab_flex-container) > *,
.freeBox__algow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__algow > :global(.__wab_flex-container) > picture > img,
.freeBox__algow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__algow {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__algow > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__algow > :global(.__wab_flex-container) > *,
  .freeBox__algow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__algow > :global(.__wab_flex-container) > picture > img,
  .freeBox__algow
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__gdCHc:global(.__wab_instance) {
  position: relative;
}
.svg__lnHaH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nTqvk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__bCqQg:global(.__wab_instance) {
  position: relative;
}
.svg__ufIGn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__m93I5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
