.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__aHqYq {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-u12sMZwIlDsg);
}
.freeBox__ugyQ {
  width: 100%;
  height: auto;
  max-width: var(--token-wDHx71aqKDlQ);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__ugyQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ugyQ > :global(.__wab_flex-container) > *,
.freeBox__ugyQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ugyQ > :global(.__wab_flex-container) > picture > img,
.freeBox__ugyQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ugyQ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ugyQ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ugyQ > :global(.__wab_flex-container) > *,
  .freeBox__ugyQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ugyQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__ugyQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__sausq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__sausq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sausq > :global(.__wab_flex-container) > *,
.freeBox__sausq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sausq > :global(.__wab_flex-container) > picture > img,
.freeBox__sausq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__erKzd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2Mw5V {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__vV0Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__oNds {
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__oNds:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__ywZmM {
  position: relative;
  font-size: 14px;
  color: var(--token-0tEtWTRQwryr);
}
.link___0J4Gj {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link___0J4Gj:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__q6UdS {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__q6UdS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__q6UdS > :global(.__wab_flex-container) > *,
.freeBox__q6UdS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q6UdS > :global(.__wab_flex-container) > picture > img,
.freeBox__q6UdS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q6UdS {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q6UdS > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q6UdS > :global(.__wab_flex-container) > *,
  .freeBox__q6UdS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__q6UdS > :global(.__wab_flex-container) > picture > img,
  .freeBox__q6UdS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__sgFj6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__sgFj6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sgFj6 > :global(.__wab_flex-container) > *,
.freeBox__sgFj6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sgFj6 > :global(.__wab_flex-container) > picture > img,
.freeBox__sgFj6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__j2Lvh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___93DPv {
  font-size: 14px;
  position: relative;
  color: var(--token-0tEtWTRQwryr);
}
.root .link___93DPv:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cCszb {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__cCszb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jzk3Z {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__jzk3Z:hover {
  color: var(--token-NEon4Y--Z);
}
.link__edIom {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__edIom:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jRw0G {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__jRw0G:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__q7XeG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__q7XeG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__q7XeG > :global(.__wab_flex-container) > *,
.freeBox__q7XeG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q7XeG > :global(.__wab_flex-container) > picture > img,
.freeBox__q7XeG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gnAkS {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__iq1Y {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__iq1Y:hover {
  color: var(--token-NEon4Y--Z);
}
.link__miqc3 {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__miqc3:hover {
  color: var(--token-NEon4Y--Z);
}
.link__e3JIi {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__e3JIi:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rkVn9 {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__rkVn9:hover {
  color: var(--token-NEon4Y--Z);
}
.link__h8VlW {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__h8VlW:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__ycEl {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ycEl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ycEl > :global(.__wab_flex-container) > *,
.freeBox__ycEl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ycEl > :global(.__wab_flex-container) > picture > img,
.freeBox__ycEl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___26Sgc {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__dFfHd {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__dFfHd:hover {
  color: var(--token-NEon4Y--Z);
}
.link__aYxYk {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__aYxYk:hover {
  color: var(--token-NEon4Y--Z);
}
.link___8Ytj {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link___8Ytj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__euUp {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__euUp:hover {
  color: var(--token-NEon4Y--Z);
}
.link__zlF1H {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__zlF1H:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__jsaoq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__jsaoq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jsaoq > :global(.__wab_flex-container) > *,
.freeBox__jsaoq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jsaoq > :global(.__wab_flex-container) > picture > img,
.freeBox__jsaoq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__i4INm {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__ii8NH {
  position: relative;
  font-size: 14px;
  color: var(--token-0tEtWTRQwryr);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__qSjBj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg___4NbVi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__gbfdj {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__osYzn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__wZfjA {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-u12sMZwIlDsg);
}
.freeBox___6GD5Z {
  width: 100%;
  height: auto;
  max-width: var(--token-wDHx71aqKDlQ);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___6GD5Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6GD5Z {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6GD5Z > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6GD5Z > :global(.__wab_flex-container) > *,
  .freeBox___6GD5Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6GD5Z > :global(.__wab_flex-container) > picture > img,
  .freeBox___6GD5Z
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__tqluF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___1SOin {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  height: auto;
  font-size: 14px;
}
.root .link___1SOin:hover {
  text-decoration-line: underline;
}
.link__cp5Tk {
  position: relative;
  color: var(--token-0tEtWTRQwryr);
  font-size: 14px;
}
.root .link__cp5Tk:hover {
  text-decoration-line: underline;
}
.text__b6N {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-0tEtWTRQwryr);
}
.freeBox__s9Mcd {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__s9Mcd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__s9Mcd > :global(.__wab_flex-container) > *,
.freeBox__s9Mcd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s9Mcd > :global(.__wab_flex-container) > picture > img,
.freeBox__s9Mcd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__xwcp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___7Yx3H {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___7Yx3H:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__tyCz9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__a6Jkx {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__a6Jkx:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__qtNdK:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iE4BC {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__iE4BC:hover {
  color: var(--token-dph1wZ7NjV9);
}
